.main__navbar__profile {
  width: 100%;
  height: 54px;
  position: fixed;
  left: 0;
  top: 0;
  background: #ffffff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__navbar__profile__content {
  position: relative;
  width: 1280px;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
}

.main__navbar__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 54px;
  gap: 20px;
}

.main__navbar__list__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  list-style-type: none;
}

.main__navbar__list__item__nick {
  font-size: 18px;
  text-transform: lowercase;
  color: #c5c5c5;
}

.main__navbar__list__item__pick {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.main__navbar__exit {
  position: absolute;
  background-color: #fff;
  color: #505050;
  outline: none;
  border: none;
  right: 0;
  top: 11px;
  width: 100px;
  height: 32px;
  cursor: pointer;
  border-radius: 5px;
}

.main__navbar__exit:hover {
  color: #fff;
  background-color: #505050;
}

.main__section {
  display: flex;
  width: 1280px;
  height: 100vh;
  background-color: #fff;
  flex-direction: column;
}

.main__navbar {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.main__navbar__search {
  width: 100%;
  height: 50px;
}

.main__navbar__search-input {
  width: calc(100% - 28px);
  height: calc(50px - 10px);
  border: none;
  outline: none;
  padding: 5px;
  padding-left: 23px;
  background-color: #f9f9f9;
  border-radius: 5px;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
}

.main__navbar__search-input::placeholder {
  color: #c5c5c5;
}

.main__navbar__bookmarks {
  display: flex;
  flex-direction: row;
  width: 1280px;
  height: 32px;
  margin-top: 14px;
  gap: 26px;
  padding: 0;
}

.main__navbar__badge {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: calc(100px - 14px);
  min-height: calc(32px - 14px);
  font-weight: 700;
  font-size: 14px;
  background: #eaeaea;
  border-radius: 5px;
  color: #a0a0a0;
  list-style-type: none;
  padding: 5px;
  text-transform: uppercase;
}

.main__navbar__badge:hover {
  background-color: var(--main-primaryc);
  color: #fff;
}

.main__channels {
  min-width: 1280px;
  margin-top: 50px;
  display: block;
}

.main__channels__title {
  color: #212121;
  font-size: 22px;
}

.main__channels__content {
  padding: 0;
  width: 100%;
  min-height: 150px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 26px;
}

.main__channel {
  width: 300px;
  height: 150px;
  list-style-type: none;
  background-color: #d9d9d9;
  border-radius: 4px;
}

.main__channel:hover {
  cursor: pointer;
  background-color: #212121;
}
