.room__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #212121;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.room__owner {
  position: sticky;
  width: 1200px;
  margin-top: 5%;
  height: 600px;
  background-color: #242424;
}

.room__other {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: calc(98% - 20px);
  height: 138px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #212121;
  overflow-y: scroll;
}

.room__user {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
  width: 64px;
  border-radius: 50px;
  height: 64px;
}

.room__other::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

.room__other::-webkit-scrollbar-track {
  background-color: none;
}

.room__other::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 5px;
}

.room__other::-webkit-scrollbar-thumb:hover {
  background-color: #404040;
}

.room__title {
  font-size: 22px;
  color: #fff;
  opacity: 0.2;
  position: absolute;
  z-index: 3;
  width: 1200px;
  height: 40px;
  left: calc(50% - 600px);
  top: 50px;
}

.room__meta {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
}
