:root {
  /* 
    main background color
  */
  --main-bc: #444444;

  /* 
    main second element color
  */
  --main-sec: #5e5e5e;

  /* 
    main second element color
  */
  --main-sec: #5e5e5e;

  /* 
    main input/output color
  */
  --main-io: rgba(75, 75, 75, 0.5);

  /* 
    main primary content background color
  */
  --main-primaryc: #505050;

  /* 
    main svg size w/h
  */
  --main-svgs: 24px;

  /* 
    main small elements background color
  */
  --main-sebc: #9a9a9a;

  /* 
    mail title/header color
  */
  --main-thc: rgba(255, 255, 255, 0.6);

  /*
    room navbar background color
  */
  --room-nav-bc: rgba(68, 68, 68, 0.8);

  /* 
    room active option color
  */
  --room-nav-active: #ff6a49;
}
